<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deportes"
        tools:targetApi="31">
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".Video"
            android:exported="false" />
        <activity
            android:name=".Batminton"
            android:exported="false" />
        <activity
            android:name=".Swimming"
            android:exported="false" />
        <activity
            android:name=".Volleyball"
            android:exported="false" />
        <activity
            android:name=".TableTenis"
            android:exported="false" />
        <activity
            android:name=".Basketball"
            android:exported="false"
            android:theme="@style/Theme.Deportes" />
        <activity
            android:name=".Football"
            android:exported="false"
            android:theme="@style/Theme.Deportes" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://773683899351999:yhSAqhL7TdqP5koICIVN7goLj1Q@doxwvdotv" />
    </application>

</manifest>